-f https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio

accelerate
bitsandbytes
protobuf
transformers
diffusers
sentencepiece
numpy
scikit-learn
jupyterlab
matplotlib
huggingface_hub
flash_attn
timm
optimum-quanto